---
layout: default
---


<div class="site-content" >
    <div class="container" >
    
      <h2>{{ page.title }}</h2>

      {% for member in site.data.team %}
           {% if member.profile_id == page.contributor_id %}
                  <div style="margin-bottom: 2rem" >{{ member.description }}</div>
           {% endif %}
      {% endfor %}

      {% unless page.no_posts == true %}

      <hr>
      
	  <table class="tablesaw tablesaw-stack" data-mode="stack" >
		<thead>
			<tr>
				<th>Post</th>
				<th style="width: 30%" > Published on</th>
			</tr>
		</thead>

		<tbody>

        {% for post in site.posts %}
          {% if post.contributor == page.title or post.contributor == page.contributor_id %}
             {% unless post.tags contains 'Meta' %}
		     <tr>
				<td>
				    <a href="{{ post.url }}">
                       {{ post.title }}
                    </a>
				</td>

				<td> {{ post.date | date_to_string }} </td>
		     </tr>
             {% endunless %}
          {% endif %}
        {% endfor %}

		</tbody>
	  </table>

      {% endunless %}
      
    </div>
</div>
