---
layout: default
---


<div class="site-content" >
    <div class="container" >
    
      <h2>{{ page.title }}</h2>

      {% for member in site.data.team %}
           {% if member.profile_id == page.contributor_id %}
    
	  <table class="tablesaw tablesaw-stack" data-mode="stack" >
	   
		<thead>
			<tr>
				<th>Contributions</th>
				{% if member.twitter or member.github or member.blog %}
				  <th>Social & Projects</th>
				{% endif %}
			</tr>
		</thead>

		<tbody>
		    <tr style="border-bottom: none" >
				<td>{{ member.description }}</td>

				{% if member.twitter or member.github or member.blog %}
				<td> 
				   <ul style="list-style: none; padding-left: 0" >
				   
                     {% if member.twitter %}
				     <li style="display: inline" >
				            <a href="https://twitter.com/{{ member.twitter }}" >
                                <i class="fa fa-twitter" style="color: #00A0D1" ></i>
                            </a>
                            &nbsp;&nbsp;
                     </li>
                     {% endif %}
                     {% if member.github %}
				     <li style="display: inline" >
				            <a href="https://github.com/{{ member.github }}" >
                                <i class="fa fa-github" style="color: #ccc" ></i>
                            </a>
                            &nbsp;&nbsp;
                     </li>
                     {% endif %}
                     {% if member.blog %}
				     <li style="display: inline" >
				            <a href="{{ member.blog }}" >
                                <i class="fa fa-link orange" ></i>
                            </a>
                            &nbsp;&nbsp;
                     </li>
                     {% endif %}
                     {% if member.project %}
				     <li style="display: inline" >
				            <a href="{{ member.project }}" >
                                <i class="fa fa-link orange" ></i>
                            </a>
                            &nbsp;&nbsp;
                     </li>
                     {% endif %}
                     
                   </ul>	
				</td>
				{% endif %}
				
			</tr>
		</tbody>
	  </table>

           {% endif %}
      {% endfor %}

      {% unless page.no_posts == true %}

      <hr>
      
	  <table class="tablesaw tablesaw-stack" data-mode="stack" >
		<thead>
			<tr>
				<th>Post</th>
				<th style="width: 30%" > Published on</th>
			</tr>
		</thead>

		<tbody>

        {% for post in site.posts %}
          {% if post.contributor == page.title or post.contributor == page.contributor_id %}
             {% unless post.tags contains 'Meta' %}
		     <tr>
				<td>
				    <a href="{{ post.url }}">
                       {{ post.title }}
                    </a>
				</td>

				<td> {{ post.date | date_to_string }} </td>
		     </tr>
             {% endunless %}
          {% endif %}
        {% endfor %}

		</tbody>
	  </table>

      {% endunless %}
      
    </div>
</div>
