---
layout: default
---


<div class="site-content" id="gai-shops-section" >
    <div class="container" >
    
              <h2>{{ page.title }}</h2>

              {% if page.contributor_level != null %}
                <div style="margin-bottom: 2rem" >{{ page.contributor_level}}</div>
              {% endif %}
              
              <ul>
                {% for post in site.posts %}
                  {% if post.contributor == page.title or post.contributor == page.contributor_id %}
                    {% unless post.tags contains 'Meta' %}
                      {% include post_summary.html %}
                    {% endunless %}
                  {% endif %}
                {% endfor %}
              </ul>
      
    </div>
</div>
