---
layout: default
---

<div class="post">
        <div class="site-content" >
        <div class="container" >

            <article class="entry" >

             <!-- <p class="entry-title" >
                 {{ page.title }}
              </p> -->

              <p class="entry-description" >
                 {{ content }}
              </p>

              <br>
              
              {% include video.html %}

              {% if page.audio_id %}  
                {% assign audio_id = page.audio_id %}
                {% include audio.html %}
              {% endif %}
              
              <ul class="entry-details" >
                <li class="entry-date fa fa-calendar" > 
                  {{ page.date | date_to_string }}
                </li>
                <li class="entry-tags fa fa-tags" > 
                  {% for tag in page.tags %}
                    {{ tag }}{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                </li>
              </ul>

            </article>
            
            <a href="/" >
               Back to home
            </a>
            
        </div>
        </div>
</div>