---
layout: default
---

<div class="post">
        <div class="site-content" >
        <div class="container" >
        
            <h2>{{ page.title }}</h2>

            <article class="entry" >

             <!-- <p class="entry-title" >
                 {{ page.title }}
              </p> -->
              
              {% include video.html %}

              <p class="entry-description" >
                 {{ content }}
              </p>

              {% if page.audio_id %}  
                {% assign audio_id = page.audio_id %}
                {% include audio.html %}
              {% endif %}
              
              {% assign post = page %}
              {% include tags.html %}
              
              <ul class="entry-details" >
                <li class="fa fa-user" > 
                  Shared by: {{ page.contributor }}
                </li>
              </ul>

              {% if page.footnote1 %} 
              <h4 style="color: #cccccc" >Footnotes:</h4>
              <ol class="footnote" style="color: #cccccc" >
                  <li id="footnote1" >{{ page.footnote1 }} <a href="#fn1" title="return to article">↑</a></li>
              </ol>
              {% endif %}
              
            </article>
            
        </div>
        </div>
</div>

{% include comments.html %}
