---
layout: default
---

<div class="post">
        <div class="site-content" >
        <div class="container" >

            <article class="entry" >

             <!-- <p class="entry-title" >
                 {{ page.title }}
              </p> -->

              <p class="entry-description" >
                 {{ content }}
              </p>

              <br>
              
              {% include video.html %}

              {% if page.audio_id %}  
                {% assign audio_id = page.audio_id %}
                {% include audio.html %}
              {% endif %}
              
              {% assign post = page %}
              {% include tags.html %}

            </article>
            
        </div>
        </div>
</div>