{% if page.eventpromo == true %}

        <div class="site-content bg-grey" style="padding-top: 2.8em; background: #cccccc" >
        <div class="container" >
            
                <div class="grid gai-promotion-box" >
                    <div class="grid-cell">
                        <h3 class="gai-promotion-box-header">
                          An inspiring event
                        </h3>
                        
                        <p class="gai-promotion-box-text" >
                           <strong>April 23-27, 2014<strong><br>
                           Panafrican International Film Festival in Cannes<br>
                           <em>11th edition</em>
                        </p>
                        
                        <p class="gai-promotion-box-text" style="font-size: 1.2em; margin-top: -0.6em" >
                           Movies, workshops, music and fashion shows around pan-African issues.  
                        </p>

                        <p class="gai-promotion-box-link" >
                           <a href="http://www.festivaldufilmpanafricain.org" >Visit the website</a>  
                        </p>
        
                    </div>
                    
                    <div class="grid-cell" style="text-align: center" >
                       <a href="http://www.festivaldufilmpanafricain.org" >
                         <img style="margin: 1em auto" src="{{ site.url }}/img/FIFP2014.jpg" >
                       </a>
                    </div>

                </div>
          
        </div>
        </div>

{% endif %}
