<footer class="site-footer" role="contentinfo" style="background: #333333; padding-left: 4rem; padding-right: 4rem" >

<div class="row clearfix" >

    <div class="column half" >
      <h4 style="text-align: justify; color: #999999; margin-bottom: 0.6rem" >We've got <em>Africa-inspired</em> and we're sharing it!</h4>
      
      <p style="text-align: justify; color: #cccccc; padding-right: 2.4rem;" >
       <em style="color: #999999" >Got Africa-Inspired</em> features selected stories showcasing 
       the awesomeness out there in Africa, being built by the people.
       <em style="color: #999999" >To inspire our day!</em>
       
       <br><br>
       <a style="color: #999999" href="{{ site.url }}/contribute.html" >We welcome contributions. Join our effort!</a>
      </p>

      
    </div>


    <div class="column half" >

      <div class="row clearfix" >
        <div class="column half" >
          <div style="text-align: left; color: #cccccc; padding-left: 2rem" >
            <h4 style="color: #999999; margin-bottom: 0.6rem" >Sitemap</h4>
        
            <a style="color: #cccccc" href="{{ site.url }}/about.html" >About us</a> <br>
            <a style="color: #cccccc" href="{{ site.url }}/videos.html" >All videos</a> <br>
            <a style="color: #cccccc" href="{{ site.url }}/archives.html" >Archives</a> <br>
            <a style="color: #cccccc" href="{{ site.url }}/feed.xml" >Subscribe / RSS feed</a> <br>
            
          </div>
        </div>
        
        <div class="column half" >
          <div style="text-align: left; color: #cccccc"" >
            <h4 style="color: #999999; margin-bottom: 0.6rem" >Contributors</h4>

            <a style="color: #cccccc" href="{{ site.url }}/team/kamon-ayeva.html" >Kamon Ayeva</a> <br>
            Latif Ayeva <br>
            Francis Addai <br>
            Hayford Kwadwo Adu<br>
            
          </div>
        </div>
        
      </div> <!-- end row -->
    
    </div> <!-- end big column -->
       
</div> <!-- end row -->

<p style="color: #999999; margin-top: 1.6rem" >
    Copyright &copy; 2014 Got Africa-Inspired and individual authors. 
</p>

</footer><!-- end site-footer -->
