<footer class="site-footer" role="contentinfo" >
<div clas="container" >

<div class="row clearfix" >

    <div class="column half" >
      <h4 class="site-footer-tagline yellow" >We've got <em>Africa-inspired</em> and we're sharing it!</h4>
      
      <p>
       <em class="yellow" >Got Africa-Inspired</em> features selected videos and stories showcasing 
       the awesomeness out there in Africa, being built by the people. To inspire your day!
              
       <br><br>
       We welcome contributions. <a href="{{ site.url }}/contribute.html" >Join our team</a> or support us.
      </p>

      <p>

            <a href="http://feeds.feedburner.com/{{ site.feedburner_id }}" >Subscribe to the RSS feed</a> 
            -
            <a href="https://twitter.com/GAInspired">Follow us via twitter</a>

            <!--
            <h4 class="yellow" style="font-style: italic" >Subscribe</h4>
        
            <a href="http://feeds.feedburner.com/{{ site.feedburner_id }}" >Via the RSS feed</a> <br>
            <a href="http://feedburner.google.com/fb/a/mailverify?uri=GotAfricaInspired">Via email</a><br>
            
            -->
      </p>
            
            
    </div>


    <div class="column half" >

      <div class="row clearfix" >
        <div class="column third" style="padding-left: 0; padding-right: 0;" >
            <h4 class="yellow" style="font-style: italic" >Find your way</h4>
        
            <a href="{{ site.url }}/about.html" >About us</a> <br>
            <a href="{{ site.url }}/faq.html" >FAQ</a> <br>
        
            <a href="{{ site.url }}/ideas.html" >Ideas</a><br>
            <a href="{{ site.url }}/music" >Music</a><br>  
            <a href="{{ site.url }}/festivals.html" >Festivals</a><br> 
            <a href="{{ site.url }}/tech.html" >Technology</a><br>
            <a href="{{ site.url }}/community.html" >Communities</a><br>

            <a href="{{ site.url }}/archives.html" >Archives</a> <br>
        </div>

        <div class="column third" style="padding-left: 0; padding-right: 0;" >
            <h4 class="yellow" style="font-style: italic" >Play sounds</h4>

            {% for playlist in site.data.playlists %}
              <a href="{{ site.url }}/music/{{ playlist.id }}.html" >{{ playlist.title }}</a> <br>
            {% endfor %}
            
            <h4 class="yellow" style="font-style: italic" >Play videos</h4>
            
            <a href="{{ site.url }}/videos/ted.html" >TED talks</a> <br>
            <a href="{{ site.url }}/videos" >All videos</a> <br>
        </div>
        
        <div class="column third" style="padding-left: 0; padding-right: 0;" >
            <h4 class="yellow" >Contributors</h4>

            <a href="{{ site.url }}/team/kamon-ayeva.html" >Kamon Ayeva</a> <br>
            <a href="{{ site.url }}/team/latif-ayeva.html" >Latif Ayeva</a> <br>
            <a href="{{ site.url }}/team/francis-addai.html" >Francis Addai</a> <br>
            <a href="{{ site.url }}/team/hayford-adu.html" >Hayford Kwadwo Adu</a> <br>
        </div>
        
      </div> <!-- end row -->
    
    </div> <!-- end big column -->
       
</div> <!-- end row -->

<p style="text-align: center" > 
    --- <br>
    Site built with <a href="http://jekyllrb.com/" >Jekyll</a> and hosted on <a href="https://pages.github.com/" >Github Pages</a>. 
    More on how we manage things <a href="{{ site.url }}/how-we-manage-the-site.html" >here</a>.
</p>

<p id="copyright" >
    Copyright &copy; 2014 Got Africa-Inspired and individual authors. 
</p>

</div>
</footer><!-- end site-footer -->
