<footer class="site-footer" role="contentinfo" style="background: #333333; padding-left: 4rem; padding-right: 4rem" >

<div class="row clearfix" >

    <div class="column half" >
      <p style="text-align: justify; padding-left: 2.6rem; padding-right: 2.4rem; font-size: 1.16em" >
       Got Africa-Inspired! features selected stories and videos about the awesomeness out there in Africa and its diaspora,
       to inspire our day.
      </p>
    </div>


    <div class="column half" >

      <div class="row clearfix" >
        <div class="column half" >
          <div style="text-align: left; color: #cccccc; padding-left: 2rem" >
            <strong>Sitemap</strong><br>
        
            <a style="color: #cccccc" href="{{ site.url }}/about.html" >About us</a> <br>
            <a style="color: #cccccc" href="{{ site.url }}/videos.html" >All videos</a> <br>
            <a style="color: #cccccc" href="{{ site.url }}/archives.html" >Archives</a> <br>
            <a style="color: #cccccc" href="{{ site.url }}/feed.xml" >Subscribe / RSS feed</a> <br>
          </div>
        </div>
        
        <div class="column half" >
          <div style="text-align: left; color: #cccccc"" >
            <strong>Contributors</strong><br>

            <a style="color: #cccccc" href="{{ site.url }}/team/kamon-ayeva.html" >Kamon Ayeva</a> <br>
            Latif Ayeva <br>
            Francis Addai <br>
            Hayford Kwadwo Adu<br>
          </div>
        </div>
        
      </div> <!-- end row -->
    
    </div> <!-- end big column -->
       
</div> <!-- end row -->

<p style="color: #999999; margin-top: 1.6rem" >
    Copyright &copy; 2014 Got Africa-Inspired and individual authors. 
</p>

</footer><!-- end site-footer -->
