
  <ul class="nav" >
       <li><a href="{{ site.url }}/" style="color: #999999" ><i class="fa fa-home" ></i></a></li>
       
       <li><a href="{{ site.url }}/ideas.html" style="color: #999999" >Ideas</a></li>
       <li><a href="{{ site.url }}/music.html" style="color: #999999" >Music</a></li>  
       <li><a href="{{ site.url }}/tech.html" style="color: #999999" >Technology</a></li>
       <li><a href="{{ site.url }}/community.html" style="color: #999999" >Communities</a></li>
       
       <li>
         <a href="{{ site.url }}/events.html" title="Events" style="color: #f4f4f7" >
           <i class="fa fa-calendar" ></i> Events
         </a>
       </li>

       {% include shortlist_link.html %}

  </ul>
			