<div class="globalnav">
		{% include globalnav.html %}
</div>

<div class="fixed-globalnav">
		{% include globalnav.html %}
</div>

<header class="site-header clearfix" role="banner" style="padding-top: 12px" >
           <h1 id="gai-logo" >
              <img src="{{ site.url }}/img/logo.png" style="display: inline; width: 38px" >
              Got <em>Africa</em>-Inspired
              <!-- <i class="fa fa-exclamation-circle" id="gai-logo-exclamation" ></i> -->
           </h1>
           
           <p id="gai-slogan" style="font-size: 1.05em; color: #444444; margin-bottom: 1rem;" >
             {{ site.slogan }}
           </p>

           <ul class="nav" >           
               <li> <a href="{{ site.url }}/videos.html" title="All videos" ><i class="fa fa-play-circle" ></i> Video</a></li>       
               <li> <a href="{{ site.url }}/archives.html" title="Archives" ><i class="fa fa-archive" ></i> Archives</a></li>               
               
               <!-- {% include shortlist_link.html %} -->
               
               <li> <a href="{{ site.url }}/feed.xml" title="RSS Feed" ><i class="fa fa-rss" ></i> RSS</a></li>               
               
           </ul>
</header><!-- end site-header -->
