<div class="globalnav">
		{% include globalnav.html %}
</div>

<div class="fixed-globalnav">
		{% include globalnav.html %}
</div>

<header class="site-header clearfix" role="banner" style="padding-top: 12px" >
           <h1 id="gai-logo" >
             Got <em>Africa</em>-Inspired <i class="fa fa-exclamation-circle" id="gai-logo-exclamation" ></i>
           </h1>
           
           <p id="gai-slogan" style="font-size: 1.18em; color: #444444; margin-top: -8px; padding-bottom: 8px; margin-bottom: 0px;" >
             {{ site.slogan }}
           </p>

           <ul class="nav" >           
               <li> <a href="{{ site.url }}/videos.html" title="All videos" ><i class="fa fa-play-circle fa-2x" ></i></a></li>       
               <li> <a href="{{ site.url }}/archives.html" title="Archives" ><i class="fa fa-archive fa-2x" ></i></a></li>  
           </ul>
</header><!-- end site-header -->
