<div class="globalnav">
		{% include globalnav.html %}
</div>

<div class="fixed-globalnav">
		{% include globalnav.html %}
</div>

<header class="site-header clearfix" role="banner" style="padding-top: 12px" >
           <h1 id="gai-logo" >
              <img class="clearfix" src="{{ site.url }}/img/logo.png" style="width: 52px" >
              Got <em>Africa</em>-Inspired
              <!-- <i class="fa fa-exclamation-circle" id="gai-logo-exclamation" ></i> -->
           </h1>
           
           <p id="gai-slogan orange" style="font-size: 1.05em;" >
             {{ site.slogan }}
           </p>
           
</header><!-- end site-header -->
