
/*
.column h3 {
  margin: 0 auto;
  margin-top: 1.5rem;
  max-width: 34rem;
}

.column p {
  margin-bottom: 1.5rem;
  max-width: 34rem;
  color: #333; 
  text-align: justify;
  
}
*/


/*
.infocell {
  background-color: #f8f8f8;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
  position: relative;
  top: -1px;
  white-space: nowrap;
}


.infocell ul {
  list-style: none;
  padding: 0;
}

.club .infocell {
  background-color: #497bad;
  color: #fff;

}
*/