---
layout: default
title: A taste of the different African festivals.
eventpromo: false
---


<div class="site-content" >
    <div class="container" >
    
      <h2>{{ page.title }}</h2>

      {% for post in site.posts %}
        {% assign tags = post.tags %}
        {% if tags contains 'Festival' %}
          {% include post_summary.html %}
        {% endif %}
      {% endfor %}
      
      
      <hr>
      <a href="{{ site.url }}/events" class="button" style="color: #ff7700" >
        <i class="fa fa-calendar" ></i> See all the inspiring events
      </a>
      
      
    </div>
</div>
