---
layout: default
title: Home
eventpromo: true
video_id: qsJYrwzfd6w
video_teasing: "Juliana Rotich at TED: About Ushahidi and the BRCK network solution they developed in Kenya."
---

<div class="site-content" id="gai-hero-unit" style="padding-top: 4em" >
    <div class="container" >
        <article class="entry" id="highlight" >
        
                {% include video.html %}
                
                <p class="entry-title" >
                    {{ page.video_teasing }}
                </p>

        </article>
    </div>
</div>


<div class="site-content" >
    <div class="container" >
      {% for post in site.posts limit:6 %}
         <!-- Skip the video that is already highlighted on the homepage --> 
         {% unless post.video_id == page.video_id %}
            {% include post_summary.html %}
         {% endunless %}
         
      {% endfor %}
          
    </div>
</div>
